{%extends "prof_layout.html"%}  
{%block content%}
<body>
    <h2>Today's Services</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Phone</th>
                <th>Location (with pin code)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for service in today_services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.customer.full_name }}</td>
                <td>{{ service.customer.phone if service.customer.phone else 'N/A'}}</td>
                <td>{{ service.location }} ({{ service.pin_code }})</td>
                <td>
                    <form action="{{ url_for('accept_service', service_id=service.id) }}" method="POST" style="display: inline;">
                        <button type="submit">Accept</button>
                    </form>
                    <form action="{{ url_for('reject_service', service_id=service.id) }}" method="POST" style="display: inline;">
                        <button type="submit">Reject</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Closed Services</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Contact Phone</th>
                <th>Location (with pin code)</th>
                <th>Date</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for service in closed_services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.customer.full_name }}</td>
                <td>{{ service.customer.phone if service.customer.phone else 'N/A' }}</td>
                <td>{{ service.location }} ({{ service.pin_code }})</td>
                <td>{{ service.date_of_comp.strftime('%Y-%m-%d') if service.date_completed else 'N/A' }}</td>
                <td>{{ service.rating if service.rating else 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{%endblock%}
