<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomEase</title>
</head>
<body>
    <h1>Service Request Details</h1>

    <p>Service Request ID: {{ service_req.id }}</p>
    <p>Customer Name: {{ customer.full_name }}</p>
    <p>Professional Name: {{ professional.full_name }}</p>
    <p>Location and Pin Code: {{ customer.location }}, {{ customer.pin_code }}</p>

    <!-- <p>Service Type: {{ service_req.service.name }}</p> -->
    <p>Date of Request: {{ service_req.date_of_req }}</p>
    <p>Date of Completion: {{ service_req.date_of_comp }}</p>
    <p>Status: {{ service_req.status }}</p>
    <p>Rating: {{ service_req.rating }}</p>
    <p>Remarks: {{ service_req.remarks }}</p>
    
</body>
</html>