{% extends "user_layout.html" %}
{% block content %}
<html>
    
    <div class="container">
        <div class="row">
        </div>
        <div class="container mt-5">
            <h2 style="text-align: center;">Top-Rated Professionals</h2>
            <table class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th>Professional Name</th>
                        <th>Service</th>
                        <th>Location</th>
                        <th>Average Rating</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for professional, avg_rating in top_rated_professionals %}
                    <tr>
                        <td><a href="/professional_profile/{{ professional.id }}">{{ professional.full_name }}</a></td>
                        <td>{{ professional.service.name }}</td>
                        <td>{{ professional.location }}</td>
                        <td>{{ avg_rating| round(2) }}</td>
                        <td>
                            <form action="{{ url_for('book_professional', professional_id=professional.id) }}" method="post">
                                <input type="hidden" name="service_id" value="{{ professional.service_name }}">
                                <button type="submit" class="btn btn-primary">Book Now</button>
                            </form>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container mt-5">
            <h2 style="text-align: center;">Service History</h2>
            <table class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <!-- <th>Service Name</th> -->
                        <th>Professional Name</th>
                        <th>Phone No.</th>
                        <th>Date of Request</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history, service_req, service in user_service_history %}
                    
                    <tr>
                        <td>{{ service_req.id }}</td>
                        <!-- <td>{{ service.name }}</td> -->
                        <td><a href="/professional_profile/{{ service_req.professional.id }}">{{ service_req.professional.full_name }}</a></td>
                        <td>{{ service_req.professional.phone }}</td>
                        <td>{{ service_req.date_of_req.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>
                            {% if service_req.status == 'pending' %}
                        <span class="badge badge-orange" style="background-color: #FFA07A; color: #fff;">Pending</span>
                        {% elif service_req.status == 'accepted' %}
                        <span class="badge badge-green" style="background-color: #34C759; color: #fff;">Accepted</span>
                        {% elif service_req.status == 'rejected' %}
                        <span class="badge badge-red" style="background-color: #FF3737; color: #fff;">Rejected</span>
                        {% else %}
                        {{ service_req.status }}
                        {% endif %}
                        </td>
                        <td> 
                            {% if service_req.status == 'accepted' %}
                            <form action="{{ url_for('close_service', service_req_id=service_req.id) }}" method="get" style="display: inline;">
                                <button type="submit" class="btn btn-warning">Close It</button>
                            </form>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</html>
{% endblock %}
