{% extends "user_layout.html" %}
{% block content %}
<html>
    <p class="trs" style="text-align: center; font-size: 30px;">Our top-rated services</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="/static/images/salon.jpeg" class="card-img-top" alt="salon" height="158px">
                    <div class="card-body">
                        <h5 class="card-title">Salon</h5>
                        <a href="{{ url_for('list_professionals', name='Salon') }}" class="btn btn-primary">Check out packages</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="/static/images/pest.jpeg" class="card-img-top" alt="pest" height="158px">
                    <div class="card-body">
                        <h5 class="card-title">Pest Control</h5>
                        <a href="{{ url_for('list_professionals', name='Pest Control') }}" class="btn btn-primary">Check out packages</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 15rem;">
                    <img src="/static/images/acr.jpeg" class="card-img-top" alt="acrepair">
                    <div class="card-body">
                        <h5 class="card-title">AC Repair</h5>
                        <a href="{{ url_for('list_professionals', name='AC Repair') }}" class="btn btn-primary">Check out packages</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <h2 style="text-align: center;">Service History</h2>
            <table class="table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <!-- <th>Service Name</th> -->
                        <th>Professional Name</th>
                        <th>Phone No.</th>
                        <th>Date of Request</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history, service_req, service in user_service_history %}
                    
                    <tr>
                        <td>{{ service_req.id }}</td>
                        <!-- <td>{{ service.name }}</td> -->
                        <td><a href="/professional_profile/{{ service_req.professional.id }}">{{ service_req.professional.full_name }}</a></td>
                        <td>{{ service_req.professional.phone }}</td>
                        <td>{{ service_req.date_of_req.strftime('%Y-%m-%d %H:%M') }}</td>
                        <td>
                            {% if service_req.status == 'pending' %}
                            <span class="badge badge-warning">Pending</span>
                            {% elif service_req.status == 'accepted' %}
                            <span class="badge badge-success">Accepted</span>
                            {% elif service_req.status == 'rejected' %}
                            <span class="badge badge-danger">Rejected</span>
                            {% else %}
                            {{ service_req.status }}
                            {% endif %}
                        </td>
                        <td> 
                            {% if service_req.status == 'accepted' %}
                            <form action="{{ url_for('close_service', service_req_id=service_req.id) }}" method="get" style="display: inline;">
                                <button type="submit" class="btn btn-warning">Close It</button>
                            </form>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</html>
{% endblock %}
