*{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 231, 238);
    
}
.my_container{
    border: 2px solid black;
    
}
.my_panel{
    width: 80%;
    margin: auto;
    height: auto;
    border: 1px solid black;
}
.input_form{
    border: 1px solid rgb(16, 16, 47);
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: justify;
}
.center{
    display: flexbox;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: auto;
    color: rgb(5,5,110);
}
.col{
    font-size: 20px;
}
.err_msg{
    text-align: center;
    margin: auto;
    color: maroon;
}
